@charset "utf-8";
/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
ul{
 list-style: none;
}
a{
 text-decoration: none;
}
img{
 vertical-align: bottom;
 max-width: 100%;
}
/*共通部分*/
header{
 padding: 40px 0;
}
h1{
 text-align: center;
 font-family: sans-serif;
 font-size: 40px;
 font-weight: 400;
 font-style: normal;
}
.g-nav{
 width: 100%;
 height: 50px;
 background-color: #7d532c;
}
.g-nav>ul{
 display: flex;
max-width: 960px;
margin: 0 auto;
}
.g-nav li{
 width: 20%;
}
.g-nav a{
 color: #ffffff;
 display: block;
 text-align: center;
 line-height: 50px;
 border-left: 1px solid #fff;
}
.g-nav li:last-of-type>a{
 border-right: 1px solid #fff;
}
.g-nav a:hover{
 background: color #4e3f2f;;
}

footer{
 width: 100%;
 height: 100px;
 background-color:#7d532c;
}
footer>p{
 text-align: center;
 color: #ffff;
 line-height: 100px;
}
main{
 max-width: 960px;
 margin: 50px auto 100px;
}

/*トップページ部分*/
.mein-visual{
 height: 300px;
 aspect-ratio: 2/1;/*横/縦の比率*/
 margin-bottom: 100px;
}
.mein-visual>img{
 object-fit: cover;
 object-position: center right;
 width: 100%;
 height: 100%;
}
.main-copy>h2{
 text-align: center;
 font-size: 30px;
 margin-bottom: 30px;
}
.mein-copy>p{
 max-width: 600px;
 margin: 0 auto;
 line-height: 2;
}

/*季節ページ部分*/
.wrapper{
 display: flex;
 gap: 0 40px;
 flex-direction: row-reverse;
}
.text-box{
 width: calc(100% - 62.5% - 40px);
}
.text-box>h2{
 margin-bottom: 20px;
 font-size: 26px;
}
.text-box>p{
 line-height: 1.75;
}
.img-box{
 width: 62.5%;
}

/*各季節ページ部分*/
.spring>.g-nav{
 background-color: #E03C8A;
}
.spring>.footer{
 background-color: #E03C8A;
}
.summer>.g-nav{
 background-color: #00AA90;
}
.summer>.footer{
 background-color: #00AA90;
}
.fall>.g-nav{
 background-color: #F05E1C;
}
.fall>.footer{
 background-color: #F05E1C;
}
.winter>.g-nav{
 background-color: #9E7A7A;
}
.winter>.footer{
 background-color: #9E7A7A;
}

/*Current*/
.current>a{
 background-color: #4e3f2f;
}

/*960px以下*/
@media (max-width:960px){


 main{
  padding: 0 10px;
 }
}

/*767px以下*/
@media(max-width:767px){
 header{
  padding:20px 0;
 }
 .mein-visual{
  aspect-ratio: 1/0.8;
  margin-bottom: 60px;
 }
.g-nav{
 font-size: 20px;
}
 .wrapper{
flex-direction: column;
gap: 80px 0;
 }
.text-box{
 width: 100%;
}
.img-box{
 width: 100%;
 text-align: center;
}
}
